Package: com.nicknameless.isaacenhancedbossbars
Name: Isaac Enhanced Boss Bars iOS
Version: 1.0.9
Architecture: iphoneos-arm64
Description: Enhanced Boss Bars port for The Binding of Isaac on iOS. Custom stylish boss HP bars, boss portrait icons, and live status effect indicators.
Maintainer: nicknameless
Author: nicknameless
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
